*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    min-height: 100vh;
    padding: 25px;
}

.home{
    background-image: url(../images/weather-pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.4 ease-in-out;
    background-position: bottom;
}

.search-box{
    width: 100%;
    margin: 0 0 75px;
}

.search-bar{
    display: block;
    border: none;
    appearance: none;
    width:100%;
    padding: 10px;
    outline: none;
    border-radius: 0 0 15px 15px;
    opacity: 0.95;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 5px rgba(0, 0,0, 0.43);
    color: #313131;
    font-size: 15px;
    transition: 0.4s ease;
}

.search-box .search-bar:focus{
    background-color: rgba(255,255,255,0.75);
}


.location-box .location{
    color:#fff;
    text-align: center;
    font-weight: 500;
    text-shadow: 0 3px rgba(50,75,75, 0.43);
    font-size: 24px;
}

.location-box .date{
    color:#fff;
    text-align: center;
    font-weight: 400;
    text-shadow: 0 3px rgba(50,75,75, 0.43);
    font-size: 18px;
}

.weather-box .temp{
    position: relative;
    margin: 0px auto 10px;
    padding: 0px 25px 10px;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.weather-box .weather{
    position: relative;
    margin: -25px auto;
    padding: 0px 25px;
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.weather-icon{
    position: relative;
    margin: auto;
    color: #fff;
    padding: 0px 25px 0px 25px;
}

.main-weather-icon{
    text-align: center;
}


@media (max-width: 768px){
    .home{
        background-image: url(../images/warm-bg.jpg);
        background-position: bottom;
        transition: 0.4s ease-in-out;
    }

    .home.cold{
        background-image: url(../images/cold-bg.jpg);
        background-position: bottom;
        transition: 0.4s ease-in-out;
    }

    .location.cold{
        color: black !important;
        text-align: center;
        font-weight: 500;
        text-shadow: 0 3px rgba(255,255,255, 0.43);
        font-size: 24px;
    }
    .date.cold{
        color: black !important;
        text-align: center;
        font-weight: 400;
        text-shadow: 0 3px rgba(255,255,255, 0.43);
        font-size: 18px;
    }
    
    .temp.cold{
        color: black !important;
        position: relative;
        margin: 30px auto;
        padding: 10px 25px;
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }
    
    .weather.cold{
        color: black !important;
        position: relative;
        margin: -35px auto;
        padding: 0px 25px;
        font-size: 25px;
        font-weight: 400;
        text-align: center;
    }
    
}