.nav {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	padding: 20px;
	height: 30px;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	transition-timing-function: ease-in;
	transition: all 0.5s;
}

.nav-black {
	background-color: #111;
}
.nav-logo {
	object-fit: contain;
	position: fixed;
	left: 20px;
	width: 80px;
}

.btn-wrapper {
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;
}

.logout-btn {
	margin-right: 80px;
	padding: 10px 20px;
	border: none;
	outline: none;
	color: white;
	background-color: rgba(235, 8, 8);
	font-weight: 600;
	cursor: pointer;
}

.logout-btn:hover {
	background-color: aliceblue;
	color: rgba(235, 8, 8);
	transition: all 0.3s;
}

.avatar {
	display: flex;
	margin: 20px;
}

.subscribe-btn {
	margin-right: 20px;
	padding: 10px 20px;
	border: none;
	outline: none;
	color: white;
	background-color: rgba(235, 8, 8);
	font-weight: 600;
	cursor: pointer;
}
